<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--<add key="DEFAULT_LANGUAGE" value="en-US"/>-->
    <!--简体中文设置: zh-CN zh-CHS zh-Hans zh -->
    <add key="DEFAULT_LANGUAGE" value="zh-CN"/>
    <add key="SUBSYSTEM_PAGE_SIZE" value="12"/>
    
    <add key="BDO_JUMP_TO_SUBSYSTEM_URL" value="http://sso.bdo.com.cn:8080/JumpToSystem.aspx"/>

    <!--客户 UAT 环境-->
    <!--<add key="RELEASE_TYPE" value="DEBUG"/>
    <add key="BDO_FILE_SERVER_PATH" value="http://mtest.bdo.com.cn/BDOSecurityPortal"/>
    <add key="EOOP_SERVER_PATH" value="http://mtest.bdo.com.cn"/>
    <add key="BDO_USER_SUBSYSTEM_LOGIN_VERIFY" value="/bdo-api/r/bdoOpt/sso"/>-->
    
    <!--客户 EOOP 生产环境 废弃-->
    <!--<add key="RELEASE_TYPE" value="RELEASE"/>
    <add key="BDO_FILE_SERVER_PATH" value="https://m.bdo.com.cn/BDOSecurityPortal"/>
    <add key="EOOP_SERVER_PATH" value="https://m.bdo.com.cn"/>
    <add key="BDO_USER_SUBSYSTEM_LOGIN_VERIFY" value="/bdo-api/r/bdoOpt/sso"/>-->

    <!--客户 Product 生产环境-->
    <add key="RELEASE_TYPE" value="DEBUG"/>
    <add key="BDO_FILE_SERVER_PATH" value="http://portal.bdo.com.cn/BDOSecurityPortal"/>
    <add key="EOOP_SERVER_PATH" value="http://portal.bdo.com.cn"/>
    <add key="BDO_USER_SUBSYSTEM_LOGIN_VERIFY" value="/bdo-api/r/bdoOpt/sso"/>
    
    <!--Web聊天登录 GET ..?username=zhu.junfang&password=123456-->
    <add key="EOOP_WEB_CHAT_AUTH" value="/eoop-webchat/auth"/>
    <!--用户未读消息 GET ..?userName=zhu.junfang-->
    <add key="EOOP_WEB_CONTACT" value="/eop-im/im/getWebContactList"/>

    <!--用户登录 GET ..?loginId=&passwd=-->
    <add key="EOOP_LOGIN_VERIFY" value="/bdo-api/r/bdoOpt/user/loginVerify"/>
    <!--用户信息 GET ..?userId=-->
    <add key="EOOP_USER_PROFILE" value="/bdo-api/r/bdoOpt/user/userInfo"/>
    <!--重置密码 GET ..?loginId=&oldPassword=&newPassword=-->
    <add key="EOOP_RESET_PASSWORD" value="/bdo-api/r/bdoOpt/user/updatePasswd"/>
    
    <!--获取用户资产列表 GET ..?userName=-->
    <add key="EOOP_USER_ASSET" value="/bdo-api/r/bdoOpt/common/findUserInfo"/>
    <!--绑定用户资产 GET ..?slKeyCode=&propertyId=&isBind=-->
    <add key="EOOP_USER_ASSET_BIND" value="/bdo-api/r/bdoOpt/common/bindUserInfo"/>
    <!--用户资产绑定信息 GET ..?slKeyCode=-->
    <add key="EOOP_USER_SLCODES" value="/bdo-api/r/bdoOpt/common/findUserSLCodes"/>
    <!--HrmResource信息 GET ..?userName=-->
    <add key="EOOP_HRM_RESOURCE" value="/bdo-api/r/bdoOpt/common/findHrmResourceByUser"/>
    <!--用户子系统列表 GET ..?userId=-->
    <add key="EOOP_USER_SUBSYSTEM" value="/bdo-api/r/bdoOpt/common/findUserSubSystem"/>
    <!--记录系统日志 POST {ClientLogsV2 Model}-->
    <add key="EOOP_BDO_CLIENT_LOG" value="/bdo-api/r/bdoOpt/common/createClientLogsV2"/>
    <!--记录用户客户端升级日志 POST {ClientUpgradeLog Model}-->
    <add key="EOOP_BDO_UPGRADE_LOG" value="/bdo-api/r/bdoOpt/common/createUserClientUpgradeLog"/>

    <!--获取用户组信息 GET ..?userId=&loginId=-->
    <add key="EOOP_GROUP_MEMBERS" value="/bdo-api/r/bdoOpt/common/getGroupMember"/>
    <!--获取用户组信息 GET ..??departId=-->
    <add key="EOOP_DEPART_ROLES" value="/bdo-api/r/bdoOpt/common/getDepartRoleMapping"/>

  </appSettings>
  <connectionStrings>
    <!--DataBase-DEV 配置信息-->
    <!--<add name="CONNTEXT_BDO_CLIENT_DEMO" connectionString="server=USER-SNG26UCVN7\SQL2012;database=bdoclient;uid=sa;pwd=movit123." />-->
    <!--<add name="CONNTEXT_ECOLOGY_DEMO" connectionString="server=USER-SNG26UCVN7\SQL2012;database=ecology;uid=sa;pwd=movit123." />-->
    <!--DataBase - RELEASE 配置信息-->
    <add name="CONN_TEXT_BDO_CLIENT" connectionString="server=172.16.3.53;database=bdoclient;uid=sa;pwd=test"/>
    <add name="CONN_TEXT_ECOLOGY" connectionString="server=172.16.3.53;database=ecology0613;uid=sa;pwd=test"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
